<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row mdl-color--indigo-700 mdl-color-text--white">
      <!-- Title -->
      <span class='mdl-layout-title'>Read It!</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#" class="mdl-layout__tab is-active">Articles</a>
      <a href="#" class="mdl-layout__tab">Videos</a>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <% @recommendations[:articles].each do |article| %>
        <%= render partial: 'article_card', locals: { article: article } %>
      <% end %>
    </div>
  </main>
</div>
