<h1>READ IT!</h1>

<h2>Articles</h2>
<% @recommendations[:articles].each do |article| %>
  <li><a href="<%= article.address %>" target="_blank"><%= article.title %></a></li>
<% end %>

<h2>Videos</h2>
<% @recommendations[:videos].each do |video| %>
  <li><a href="<%= video.address %>" target="_blank"><%= video.title %></a></li>
<% end %>
