$white: #ffffff;
$black: #000000;

$dust-storm: rgba(230, 203, 199, 1);
$parrot-pink: rgba(211, 157, 159, 1);
$quartz: rgba(77, 74, 80, 1);
$light-gray: rgba(210, 215, 215, 1);
$granit-gray: rgba(96, 107, 98, 1);


// Wanderlust Color View Palette
// http://www.design-seeds.com/wanderlust/color-view-7/
$platinum: #DFE1E5;
$brilliant-lavender: #F4B9FA;
$deep-mauve: #CB7BD1;
$dark-lavender: #6B4396; // write in white
$deep-koamaru: #422E68; // write in white
$gunmetal: #28343B;

$soft-gunmetal: rgba(#28343b, 0.8);
$independence: #524469; // to write on brilliant-lavender
$main-bg: $platinum;
